/* color pallete

#C2B2B4
#6b4e71
#3a4454
#f5dddd

*/

* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background:#f5dddd;
    height:auto;
    min-height: 100dvh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: #3a4454;
}


.play-row {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    flex-direction: column;
}

.play,
.play-again,
.lock-in {
    padding: 0.5rem;
    width: 5rem;
    height: fit-content;
    font-size: 30px;
    background: #6b4e71;
    color: #f5dddd;
    border-radius: 0.4rem;
    border: none;
    transition: 0.25s;
    margin: 1rem;
}

.play:hover,
.play-again:hover,
.lock-in:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.play-again {
    display: none;
    width: 7rem;
}

.scoreboard {
    display: none;
    font-weight: 400;
    border: #3a4454 5px solid;
}

.player-counter,
.round-counter,
.comp-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 33.3%;
}

.player-counter {
    background: #6b4e71;
    color: #f5dddd;
}

.round-counter {
    background: #C2B2B4;
    color: #6b4e71;

}

.comp-counter {
    background: #6b4e71;
    color: #f5dddd;
}

.player-counter h1,
.round-counter h1,
.comp-counter h1 {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.game {
    display: none;
    justify-content: center;
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
}

.player-choice-section {
    background: #C2B2B4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.8rem;
    flex: 0 0 auto;
    width: 100%;
}

.weapon {
    text-align: center;
    color: #3a4454;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.player-choice-row {
    display: flex;
}

.player-choice {
    padding: 0.5rem;
    width: 25vw;
    min-width: 5rem;
    background: none;
    border: none;
}

.player-choice img {
    width: clamp(4rem, 2vw, 6rem);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
    transition: 0.25s;
}

.player-choice img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.player-choice img.active-choice {
    transform: scale(1.2);
}

.computer-choice-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6b4e71;
    flex: 0 0 auto;
    width: 100%;
    padding: 0.8rem;
}

.computer-choice-text {
    color: #f5dddd;
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.compImg {
    width: clamp(6rem, 20vw, 10rem);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
    opacity: 0;
}

.lock-in-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    text-align: center;
    color: #3a4454;
    font-size: clamp(1.5rem, 3vw, 4rem);
}

.end-result {
    margin: 2rem 0;
    color: #3a4454;
    font-size: clamp(1.8rem, 3vw, 4rem);
    font-weight: 800;
    text-align: center;
}

@media screen and (min-width: 578px) {

    .player-choice-row {
        flex-direction: row;
    }

    .player-choice {
        width: clamp(7rem, 12vw, 9rem);
    }
}

@media screen and (min-width: 1200px) {

    .player-choice-section,
    .computer-choice-row {
        flex: 1 0 auto;
        width: 50%;
    }
}


/* boostrap code */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

/* Fixed-width columns */
.col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}